footer {
	background-color: #FFFFFF;
	height: 60px;
	width: 100%;
	border-top: 1px solid #CCCCCC;
	position: absolute;
	right: 0px;
	bottom: 0px;
	left: 0px;
	text-align: center;
	line-height: 60px;
}