html, /*add entire selector to fix footer*/
.container {
   margin:0;
   padding:0;
   height:100%;
}

body {
	margin: 0px;
	padding: 0px;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	min-height: 100%; /*add to fix footer*/
	position: relative; /*add to fix footer*/
}

.container {
	max-width: 1000px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}